.blog-pg-style1 .inner-navbar-style1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.blog-pg-style1 .inner-navbar-style1 .navbar-nav .nav-link {
  color: #fff;
}
.blog-pg-style1 .inner-navbar-style1 .nav-side a {
  color: #fff;
}
@media screen and (max-width: 991px) {
  .blog-pg-style1 .inner-navbar-style1 {
    position: relative;
    background-color: #000;
    padding: 15px;
  }
}
.blog-pg-style1 .tc-header-preview {
  position: relative;
}
.blog-pg-style1 .tc-header-preview .slider-card {
  position: relative;
}
.blog-pg-style1 .tc-header-preview .slider-card .img {
  height: 700px;
  position: relative;
  min-height: 100vh;
}
.blog-pg-style1 .tc-header-preview .slider-card .img::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 40%;
  pointer-events: none;
}
.blog-pg-style1 .tc-header-preview .slider-card .info {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  z-index: 20;
  color: #fff;
}
.blog-pg-style1 .tc-header-preview .slider-card .info h1 {
  font-size: calc(8vw + 15px);
  font-weight: 500;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.blog-pg-style1 .tc-header-preview .features-txt {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin-top: 50px;
}
.blog-pg-style1 .tc-header-preview .rotate-box {
  position: relative;
  width: 220px;
  height: 220px;
  display: block;
  margin: 0 90px 0 auto;
  bottom: -80px;
}
.blog-pg-style1 .tc-header-preview .rotate-box .num {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: "Instrument Serif", serif;
}
.blog-pg-style1 .tc-header-preview .rotate-box .rotate-text {
  -webkit-animation: rotateText 20s linear infinite;
          animation: rotateText 20s linear infinite;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  border-radius: 50%;
}
.blog-pg-style1 .tc-header-preview .rotate-box .rotate-circle {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(75px);
          backdrop-filter: blur(75px);
}
.blog-pg-style1 .tc-header-preview .rotate-box .rotate-circle svg {
  width: 220px;
  height: 220px;
  fill: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@-webkit-keyframes rotateText {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotateText {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.blog-pg-style1 .tc-header-preview .float-social-links {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 1vw;
  z-index: 20;
}
.blog-pg-style1 .tc-header-preview .float-social-links a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00000045;
  font-size: 16px;
  color: #fff;
  margin: 10px;
}
.blog-pg-style1 .tc-header-preview .float-social-links a:hover {
  background-color: var(--color-orange1);
}
.blog-pg-style1 .tc-header-preview .float-icons {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1vw;
  z-index: 20;
}
.blog-pg-style1 .tc-header-preview .float-icons a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00000045;
  font-size: 16px;
  color: #fff;
  margin: 10px;
}
.blog-pg-style1 .tc-header-preview .float-icons a:hover {
  background-color: var(--color-orange1);
}
@media screen and (max-width: 991px) {
  .blog-pg-style1 .tc-header-preview {
    overflow: hidden;
  }
  .blog-pg-style1 .tc-header-preview .features-txt {
    display: block;
    line-height: 2.2;
  }
  .blog-pg-style1 .tc-header-preview .info {
    padding-bottom: 100px;
  }
  .blog-pg-style1 .tc-header-preview .float-icons {
    top: 50px;
    width: 100%;
  }
  .blog-pg-style1 .tc-header-preview .float-icons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-pg-style1 .tc-header-preview .float-icons ul a {
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
  .blog-pg-style1 .tc-header-preview .float-social-links {
    top: auto;
    bottom: 0;
    width: 100%;
  }
  .blog-pg-style1 .tc-header-preview .float-social-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-pg-style1 .tc-header-preview .float-social-links ul a {
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
  .blog-pg-style1 .tc-header-preview .slider-card .img {
    height: 800px;
  }
  .blog-pg-style1 .tc-header-preview .rotate-box {
    display: none;
  }
  .blog-pg-style1 .tc-header-preview .slider-card .img {
    height: 600px;
  }
}
.blog-pg-style1 .tc-about-style7 {
  position: relative;
  padding: 160px 0;
}