.footer-links li a {
  color: #fff !important;
}

.tc-header-style1 .swiper-wrapper {
  transform: translate3d(0px, -50px, 0px) !important;
  -webkit-transform: translate3d(0px, -50px, 0px) !important;
  -moz-transform: translate3d(0px, -50px, 0px) !important;
  -ms-transform: translate3d(0px, -50px, 0px) !important;
  -o-transform: translate3d(0px, -50px, 0px) !important;
}

.tc-footer-style1 .branch-card h5{
    color: var(--color-orange1);

}

/* Filter Container */
.filter .links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* Filter Button */
.filter-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  padding: 10px 22px;
  border-radius: 50px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1;

  color: #666;
  transition: all 0.3s ease;
}

/* Hover */
.filter-btn:hover {
  color: #fff;
  background: var(--color-orange1); /* theme orange */
}

/* Active */
.filter-btn.active {
  color: #fff;
  background:var(--color-orange1);
  box-shadow: 0 8px 20px rgba(255, 107, 53, 0.25);
}

/* Focus */
.filter-btn:focus-visible {
  outline: 2px solid var(--color-orange1);
  outline-offset: 2px;
}



.inner-pages-style1 .inner-navbar-style1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

/* Amenenities */

.amenities-section {
  background: #f8f6f2;
}

.sub-title {
  color: #c6a66a;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
}

.title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.1;
  margin: 20px 0;
}

.desc {
  max-width: 700px;
  margin: auto;
  color: #666;
}

.amenity-card {
  background: #fff;
  padding: 40px;
  border-radius: 24px;
  height: 100%;
  transition: 0.4s;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.amenity-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);
}

.amenity-card .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(198, 166, 106, 0.12);
  color: #c6a66a;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.amenity-card h5 {
  font-size: 24px;
  margin-bottom: 15px;
}

.amenity-card p {
  color: #777;
  margin: 0;
}

.custom_bg{

    position: relative;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F1EEE9), color-stop(#F1EEE999), to(transparent));
    background-image: linear-gradient(to bottom, #F1EEE9, #F1EEE999, transparent);
    border-radius: 50px 50px 0 0;
}
